In [1]:
import pandas as pd

df = pd.read_csv("chicago_crime_500k.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   unique_key            500000 non-null  int64
 1   case_number           500000 non-null  object
 2   date                  500000 non-null  object
 3   block                 500000 non-null  object
 4   iucr                  500000 non-null  object
 5   primary_type          500000 non-null  object
 6   description           500000 non-null  object
 7   location_description  499118 non-null  object
 8   arrest                500000 non-null  bool
 9   domestic              500000 non-null  bool
 10  beat                  500000 non-null  int64
 11  district              500000 non-null  int64
 12  ward                  463417 non-null  float64
 13  community_area        463489 non-null  float64
 14  fbi_code              500000 non-null  object
 15  x_coordinate          494360 non-null  float64
 16  y_coordinate          494360 non-null  float64
 17  year                  500000 non-null  int64
 18  updated_on            500000 non-null  object
 19  latitude              494369 non-null  float64
 20  longitude             494369 non-null  float64
 21  location              494369 non-null  object
dtypes: bool(2), float64(6), int64(4), object(10)
memory usage: 77.2+ MB

In [2]:
df = df.drop(['unique_key', 'case_number', 'block', 'x_coordinate', 'y_coordinate', 'year', 'updated_on', 'location'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  500000 non-null  object
 1   iucr                  500000 non-null  object
 2   primary_type          500000 non-null  object
 3   description           500000 non-null  object
 4   location_description  499118 non-null  object
 5   arrest                500000 non-null  bool
 6   domestic              500000 non-null  bool
 7   beat                  500000 non-null  int64
 8   district              500000 non-null  int64
 9   ward                  463417 non-null  float64
 10  community_area        463489 non-null  float64
 11  fbi_code              500000 non-null  object
 12  latitude              494369 non-null  float64
 13  longitude             494369 non-null  float64
dtypes: bool(2), float64(4), int64(2), object(6)
memory usage: 46.7+ MB

In [3]:
print("data kosong : ", df.isnull().sum())
print("\ndata duplikat : ", df.duplicated().sum())

data kosong :  date                        0
iucr                        0
primary_type                0
description                 0
location_description      882
arrest                      0
domestic                    0
beat                        0
district                    0
ward                    36583
community_area          36511
fbi_code                    0
latitude                 5631
longitude                5631
dtype: int64

data duplikat :  116

In [4]:
df = df.drop_duplicates()
print("\ndata duplikat : ", df.duplicated().sum())

data duplikat :  0

In [5]:
df = df.dropna()
print("data kosong : ", df.isnull().sum())

data kosong :  date                    0
iucr                    0
primary_type            0
description             0
location_description    0
arrest                  0
domestic                0
beat                    0
district                0
ward                    0
community_area          0
fbi_code                0
latitude                0
longitude               0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457622 entries, 0 to 499999
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  457622 non-null  object
 1   iucr                  457622 non-null  object
 2   primary_type          457622 non-null  object
 3   description           457622 non-null  object
 4   location_description  457622 non-null  object
 5   arrest                457622 non-null  bool
 6   domestic              457622 non-null  bool
 7   beat                  457622 non-null  int64
 8   district              457622 non-null  int64
 9   ward                  457622 non-null  float64
 10  community_area        457622 non-null  float64
 11  fbi_code              457622 non-null  object
 12  latitude              457622 non-null  float64
 13  longitude             457622 non-null  float64
dtypes: bool(2), float64(4), int64(2), object(6)
memory usage: 46.3+ MB

In [8]:
df['date'] = pd.to_datetime(df['date'])

df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df['hour'] = df['date'].dt.hour
df['weekday'] = df['date'].dt.day_name(locale='id_ID')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457622 entries, 0 to 499999
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  457622 non-null  datetime64[ns, UTC]
 1   iucr                  457622 non-null  object
 2   primary_type          457622 non-null  object
 3   description           457622 non-null  object
 4   location_description  457622 non-null  object
 5   arrest                457622 non-null  bool
 6   domestic              457622 non-null  bool
 7   beat                  457622 non-null  int64
 8   district              457622 non-null  int64
 9   ward                  457622 non-null  float64
 10  community_area        457622 non-null  float64
 11  fbi_code              457622 non-null  object
 12  latitude              457622 non-null  float64
 13  longitude             457622 non-null  float64
 14  day                   457622 non-null  int32
 15  month                 457622 non-null  int32
 16  year                  457622 non-null  int32
 17  hour                  457622 non-null  int32
 18  weekday               457622 non-null  object
dtypes: bool(2), datetime64[ns, UTC](1), float64(4), int32(4), int64(2), object(6)
memory usage: 56.7+ MB

In [10]:
df = df.drop('date', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457622 entries, 0 to 499999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   iucr                  457622 non-null  object
 1   primary_type          457622 non-null  object
 2   description           457622 non-null  object
 3   location_description  457622 non-null  object
 4   arrest                457622 non-null  bool
 5   domestic              457622 non-null  bool
 6   beat                  457622 non-null  int64
 7   district              457622 non-null  int64
 8   ward                  457622 non-null  float64
 9   community_area        457622 non-null  float64
 10  fbi_code              457622 non-null  object
 11  latitude              457622 non-null  float64
 12  longitude             457622 non-null  float64
 13  day                   457622 non-null  int32
 14  month                 457622 non-null  int32
 15  year                  457622 non-null  int32
 16  hour                  457622 non-null  int32
 17  weekday               457622 non-null  object
dtypes: bool(2), float64(4), int32(4), int64(2), object(6)
memory usage: 69.4+ MB

In [11]:
def crime_scene(hour):
    if 1 <= hour < 5:
        return 'Dini hari'
    elif 5 <= hour < 11:
        return 'Pagi'
    elif 11 <= hour < 15:
        return 'Siang'
    elif 15 <= hour < 18:
        return 'Sore'
    else:
        return 'Malam'

df['daytime'] = df['hour'].apply(crime_scene)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457622 entries, 0 to 499999
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   iucr                  457622 non-null  object
 1   primary_type          457622 non-null  object
 2   description           457622 non-null  object
 3   location_description  457622 non-null  object
 4   arrest                457622 non-null  bool
 5   domestic              457622 non-null  bool
 6   beat                  457622 non-null  int64
 7   district              457622 non-null  int64
 8   ward                  457622 non-null  float64
 9   community_area        457622 non-null  float64
 10  fbi_code              457622 non-null  object
 11  latitude              457622 non-null  float64
 12  longitude             457622 non-null  float64
 13  day                   457622 non-null  int32
 14  month                 457622 non-null  int32
 15  year                  457622 non-null  int32
 16  hour                  457622 non-null  int32
 17  weekday               457622 non-null  object
 18  daytime               457622 non-null  object
dtypes: bool(2), float64(4), int32(4), int64(2), object(7)
memory usage: 72.9+ MB

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(df['primary_type'])

kmeans = KMeans(n_clusters=5, random_state=42)
df['crime_category'] = kmeans.fit_predict(X)

X_loc = vectorizer.fit_transform(df['location_description'].astype(str))
kmeans_loc = KMeans(n_clusters=5, random_state=42)
df['location_category'] = kmeans_loc.fit_predict(X_loc)

df.head()

,iucr,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,...,latitude,longitude,day,month,year,hour,weekday,daytime,crime_category,location_category
0,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,SIDEWALK,False,True,111,1,42.0,32.0,...,41.886832,-87.627557,11,6,2022,0,Sabtu,Malam,0,0
1,031A,ROBBERY,ARMED - HANDGUN,CTA TRAIN,False,False,111,1,42.0,32.0,...,41.885482,-87.627936,28,1,2021,23,Kamis,Malam,0,0
2,031A,ROBBERY,ARMED - HANDGUN,CTA TRAIN,False,False,111,1,42.0,32.0,...,41.884650,-87.627915,5,5,2022,18,Kamis,Malam,0,0
3,0320,ROBBERY,STRONGARM - NO WEAPON,RESTAURANT,False,False,111,1,42.0,32.0,...,41.883223,-87.625603,12,6,2014,0,Kamis,Malam,0,0
4,0320,ROBBERY,STRONGARM - NO WEAPON,STREET,False,False,111,1,2.0,28.0,...,41.877143,-87.643975,3,8,2005,8,Rabu,Pagi,0,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457622 entries, 0 to 499999
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   iucr                  457622 non-null  object
 1   primary_type          457622 non-null  object
 2   description           457622 non-null  object
 3   location_description  457622 non-null  object
 4   arrest                457622 non-null  bool
 5   domestic              457622 non-null  bool
 6   beat                  457622 non-null  int64
 7   district              457622 non-null  int64
 8   ward                  457622 non-null  float64
 9   community_area        457622 non-null  float64
 10  fbi_code              457622 non-null  object
 11  latitude              457622 non-null  float64
 12  longitude             457622 non-null  float64
 13  day                   457622 non-null  int32
 14  month                 457622 non-null  int32
 15  year                  457622 non-null  int32
 16  hour                  457622 non-null  int32
 17  weekday               457622 non-null  object
 18  daytime               457622 non-null  object
 19  crime_category        457622 non-null  int32
 20  location_category     457622 non-null  int32
dtypes: bool(2), float64(4), int32(6), int64(2), object(7)
memory usage: 76.4+ MB

In [16]:
df[df['crime_category'] == 0]['primary_type'].value_counts()

primary_type
NARCOTICS                            40926
ASSAULT                              31543
OTHER OFFENSE                        28399
DECEPTIVE PRACTICE                   19984
ROBBERY                              17494
WEAPONS VIOLATION                     7116
PROSTITUTION                          3615
OFFENSE INVOLVING CHILDREN            3275
PUBLIC PEACE VIOLATION                3019
SEX OFFENSE                           1753
CRIM SEXUAL ASSAULT                   1406
INTERFERENCE WITH PUBLIC OFFICER      1200
GAMBLING                               874
ARSON                                  819
HOMICIDE                               790
LIQUOR LAW VIOLATION                   748
CRIMINAL SEXUAL ASSAULT                612
KIDNAPPING                             389
STALKING                               326
INTIMIDATION                           254
CONCEALED CARRY LICENSE VIOLATION       96
OBSCENITY                               57
PUBLIC INDECENCY                        14
OTHER NARCOTIC VIOLATION                11
HUMAN TRAFFICKING                        8
NON-CRIMINAL                             8
RITUALISM                                3
NON - CRIMINAL                           2
NON-CRIMINAL (SUBJECT SPECIFIED)         1
Name: count, dtype: int64

In [17]:
df[df['crime_category'] == 1]['primary_type'].value_counts()

primary_type
BATTERY    84430
Name: count, dtype: int64

In [18]:
df[df['crime_category'] == 2]['primary_type'].value_counts()

primary_type
THEFT                  96812
MOTOR VEHICLE THEFT    22933
Name: count, dtype: int64

In [19]:
df[df['crime_category'] == 3]['primary_type'].value_counts()

primary_type
BURGLARY    23984
Name: count, dtype: int64

In [20]:
df[df['crime_category'] == 4]['primary_type'].value_counts()

primary_type
CRIMINAL DAMAGE      52022
CRIMINAL TRESPASS    12699
Name: count, dtype: int64

In [22]:
crime_category_mapping = {
    0: 'Street and Narcotics Crimes',
    1: 'Battery Crimes',
    2: 'Theft Crimes',
    3: 'Burglary',
    4: 'Property Crimes'
}

df['crime_category_label'] = df['crime_category'].map(crime_category_mapping)

print(df[['primary_type', 'crime_category', 'crime_category_label']].head())

              primary_type  crime_category         crime_category_label
0  CRIMINAL SEXUAL ASSAULT               0  Street and Narcotics Crimes
1                  ROBBERY               0  Street and Narcotics Crimes
2                  ROBBERY               0  Street and Narcotics Crimes
3                  ROBBERY               0  Street and Narcotics Crimes
4                  ROBBERY               0  Street and Narcotics Crimes

In [24]:
df[df['location_category'] == 0]['location_description'].value_counts()

location_description
RESIDENCE                            72167
SIDEWALK                             43313
OTHER                                14362
PARKING LOT/GARAGE(NON.RESID.)       10878
ALLEY                                10128
                                     ...
CTA PROPERTY                             1
TRUCK                                    1
CHA PLAY LOT                             1
VESTIBULE                                1
VEHICLE - COMMERCIAL: TROLLEY BUS        1
Name: count, Length: 147, dtype: int64

In [25]:
df[df['location_category'] == 1]['location_description'].value_counts()

location_description
STREET    117939
Name: count, dtype: int64

In [26]:
df[df['location_category'] == 2]['location_description'].value_counts()

location_description
SMALL RETAIL STORE       9174
DEPARTMENT STORE         6368
GROCERY FOOD STORE       5570
DRUG STORE               2101
CONVENIENCE STORE        1707
TAVERN/LIQUOR STORE      1181
CLEANING STORE            265
TAVERN / LIQUOR STORE     174
APPLIANCE STORE           133
RETAIL STORE                7
LIQUOR STORE                1
Name: count, dtype: int64

In [27]:
df[df['location_category'] == 3]['location_description'].value_counts()

location_description
APARTMENT        57372
CHA APARTMENT     2048
Name: count, dtype: int64

In [28]:
df[df['location_category'] == 4]['location_description'].value_counts()

location_description
SCHOOL, PUBLIC, BUILDING          7751
SCHOOL, PUBLIC, GROUNDS           1651
HOSPITAL BUILDING/GROUNDS         1259
GOVERNMENT BUILDING/PROPERTY       814
SCHOOL, PRIVATE, BUILDING          742
ABANDONED BUILDING                 706
SCHOOL - PUBLIC BUILDING           474
HOSPITAL BUILDING / GROUNDS        416
SCHOOL - PUBLIC GROUNDS            409
SCHOOL, PRIVATE, GROUNDS           214
GOVERNMENT BUILDING / PROPERTY     139
SCHOOL - PRIVATE GROUNDS            85
SCHOOL - PRIVATE BUILDING           75
SCHOOL YARD                          2
Name: count, dtype: int64

In [30]:
location_category_mapping = {
    0: 'Residential and Public Spaces',
    1: 'Street Crimes',
    2: 'Commercial Retail Locations',
    3: 'Apartment Complexes',
    4: 'Institutional and Public Facilities'
}

df['location_category_label'] = df['location_category'].map(location_category_mapping)

print(df[['location_description', 'location_category', 'location_category_label']].head())

  location_description  location_category        location_category_label
0             SIDEWALK                  0  Residential and Public Spaces
1            CTA TRAIN                  0  Residential and Public Spaces
2            CTA TRAIN                  0  Residential and Public Spaces
3           RESTAURANT                  0  Residential and Public Spaces
4               STREET                  1                  Street Crimes

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457622 entries, 0 to 499999
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iucr                     457622 non-null  object
 1   primary_type             457622 non-null  object
 2   description              457622 non-null  object
 3   location_description     457622 non-null  object
 4   arrest                   457622 non-null  bool
 5   domestic                 457622 non-null  bool
 6   beat                     457622 non-null  int64
 7   district                 457622 non-null  int64
 8   ward                     457622 non-null  float64
 9   community_area           457622 non-null  float64
 10  fbi_code                 457622 non-null  object
 11  latitude                 457622 non-null  float64
 12  longitude                457622 non-null  float64
 13  day                      457622 non-null  int32
 14  month                    457622 non-null  int32
 15  year                     457622 non-null  int32
 16  hour                     457622 non-null  int32
 17  weekday                  457622 non-null  object
 18  daytime                  457622 non-null  object
 19  crime_category           457622 non-null  int32
 20  location_category        457622 non-null  int32
 21  crime_category_label     457622 non-null  object
 22  location_category_label  457622 non-null  object
dtypes: bool(2), float64(4), int32(6), int64(2), object(9)
memory usage: 83.3+ MB

In [32]:
unique_crime_categories = df[['crime_category', 'crime_category_label']].drop_duplicates().sort_values('crime_category')
unique_location_categories = df[['location_category', 'location_category_label']].drop_duplicates().sort_values('location_category')

print(unique_crime_categories)
print(unique_location_categories)

     crime_category         crime_category_label
0                 0  Street and Narcotics Crimes
15                1               Battery Crimes
122               2                 Theft Crimes
116               3                     Burglary
620               4              Property Crimes
    location_category              location_category_label
0                   0        Residential and Public Spaces
4                   1                        Street Crimes
16                  2          Commercial Retail Locations
78                  3                  Apartment Complexes
50                  4  Institutional and Public Facilities

In [36]:
import psycopg2
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

crime_categories = df['crime_category_label'].unique()

data_to_insert = [(cat,) for cat in crime_categories] 

query = """
    INSERT INTO dim_crime_category (crime_category)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke tabel dim_crime_category!")

Data berhasil diinsert ke tabel dim_crime_category!

In [37]:
import psycopg2
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

location_categories = df['location_category_label'].unique()

data_to_insert = [(cat,) for cat in location_categories] 

query = """
    INSERT INTO dim_location_category (location_category)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke tabel dim_location_category!")

Data berhasil diinsert ke tabel dim_location_category!

In [40]:
import psycopg2

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

cursor.execute("SELECT id_crime_category, crime_category FROM dim_crime_category")
rows = cursor.fetchall()

crime_category_mapping = {row[1]: row[0] for row in rows}

cursor.close()
conn.close()

print(crime_category_mapping)

{'Street and Narcotics Crimes': 1, 'Battery Crimes': 2, 'Burglary': 3, 'Theft Crimes': 4, 'Property Crimes': 5}

In [41]:
df_subset = df[['primary_type', 'description', 'crime_category_label']].drop_duplicates()
print(df_subset)

                   primary_type  \
0       CRIMINAL SEXUAL ASSAULT
1                       ROBBERY
3                       ROBBERY
8                       ROBBERY
11                      ROBBERY
...                         ...
472090                NARCOTICS
475438   PUBLIC PEACE VIOLATION
487523              SEX OFFENSE
494158                NARCOTICS
495645      MOTOR VEHICLE THEFT

                                              description  \
0                                          NON-AGGRAVATED
1                                         ARMED - HANDGUN
3                                   STRONGARM - NO WEAPON
8                                  STRONG ARM - NO WEAPON
11                                             AGGRAVATED
...                                                   ...
472090                     MANU/DELIVER:HEROIN(BLACK TAR)
475438                 INTERFERE WITH EMERGENCY EQUIPMENT
487523         CRIMINAL SEXUAL ABUSE - SEXUAL PENETRATION
494158  FAILURE TO MAINTAIN RECORDS - CONTROLLED SUBST...
495645            ATTEMPT - CYCLE, SCOOTER, BIKE WITH VIN

               crime_category_label
0       Street and Narcotics Crimes
1       Street and Narcotics Crimes
3       Street and Narcotics Crimes
8       Street and Narcotics Crimes
11      Street and Narcotics Crimes
...                             ...
472090  Street and Narcotics Crimes
475438  Street and Narcotics Crimes
487523  Street and Narcotics Crimes
494158  Street and Narcotics Crimes
495645                 Theft Crimes

[526 rows x 3 columns]

In [42]:
df_subset['id_crime_category'] = df_subset['crime_category_label'].map(crime_category_mapping)
df_subset.head()

,primary_type,description,crime_category_label,id_crime_category
0,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,Street and Narcotics Crimes,1
1,ROBBERY,ARMED - HANDGUN,Street and Narcotics Crimes,1
3,ROBBERY,STRONGARM - NO WEAPON,Street and Narcotics Crimes,1
8,ROBBERY,STRONG ARM - NO WEAPON,Street and Narcotics Crimes,1
11,ROBBERY,AGGRAVATED,Street and Narcotics Crimes,1

In [44]:
data_to_insert = df_subset[['primary_type', 'description', 'id_crime_category']].values.tolist()
data_to_insert

[['CRIMINAL SEXUAL ASSAULT', 'NON-AGGRAVATED', 1],
 ['ROBBERY', 'ARMED - HANDGUN', 1],
 ['ROBBERY', 'STRONGARM - NO WEAPON', 1],
 ['ROBBERY', 'STRONG ARM - NO WEAPON', 1],
 ['ROBBERY', 'AGGRAVATED', 1],
 ['ROBBERY', 'ATTEMPT AGGRAVATED', 1],
 ['ROBBERY', 'ATTEMPT ARMED - KNIFE / CUTTING INSTRUMENT', 1],
 ['ROBBERY', 'ATTEMPT: STRONGARM-NO WEAPON', 1],
 ['BATTERY', 'AGG: HANDS/FIST/FEET NO/MINOR INJURY', 2],
 ['BATTERY', 'AGGRAVATED PO: KNIFE/CUT INSTR', 2],
 ['BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 2],
 ['BATTERY', 'AGG PO HANDS NO/MIN INJURY', 2],
 ['BATTERY', 'SIMPLE', 2],
 ['PUBLIC PEACE VIOLATION', 'RECKLESS CONDUCT', 1],
 ['BATTERY', 'DOMESTIC BATTERY SIMPLE', 2],
 ['BATTERY', 'AGGRAVATED OF A SENIOR CITIZEN', 2],
 ['ASSAULT', 'AGGRAVATED:KNIFE/CUTTING INSTR', 1],
 ['ASSAULT', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 1],
 ['ASSAULT', 'SIMPLE', 1],
 ['STALKING', 'SIMPLE', 1],
 ['BURGLARY', 'FORCIBLE ENTRY', 3],
 ['BURGLARY', 'UNLAWFUL ENTRY', 3],
 ['THEFT', 'OVER $500', 4],
 ['THEFT', '$500 AND UNDER', 4],
 ['THEFT', 'FINANCIAL ID THEFT: OVER $300', 4],
 ['THEFT', 'FINANCIAL ID THEFT:$300 &UNDER', 4],
 ['THEFT', 'ATTEMPT THEFT', 4],
 ['THEFT', 'RETAIL THEFT', 4],
 ['THEFT', 'DELIVERY CONTAINER THEFT', 4],
 ['THEFT', 'POCKET-PICKING', 4],
 ['THEFT', 'PURSE-SNATCHING', 4],
 ['THEFT', 'FROM BUILDING', 4],
 ['MOTOR VEHICLE THEFT', 'AUTOMOBILE', 4],
 ['MOTOR VEHICLE THEFT', 'TRUCK, BUS, MOTOR HOME', 4],
 ['DECEPTIVE PRACTICE', 'FORGERY', 1],
 ['DECEPTIVE PRACTICE', 'COUNTERFEIT CHECK', 1],
 ['DECEPTIVE PRACTICE', 'FRAUD OR CONFIDENCE GAME', 1],
 ['DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 1],
 ['DECEPTIVE PRACTICE', 'ILLEGAL USE CASH CARD', 1],
 ['DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 1],
 ['DECEPTIVE PRACTICE', 'ATTEMPT - FINANCIAL IDENTITY THEFT', 1],
 ['DECEPTIVE PRACTICE', 'THEFT BY LESSEE,MOTOR VEH', 1],
 ['DECEPTIVE PRACTICE', 'THEFT OF LABOR/SERVICES', 1],
 ['DECEPTIVE PRACTICE', 'THEFT OF LABOR / SERVICES', 1],
 ['DECEPTIVE PRACTICE', 'THEFT OF LOST/MISLAID PROP', 1],
 ['CRIMINAL DAMAGE', 'CRIMINAL DEFACEMENT', 5],
 ['CRIMINAL DAMAGE', 'TO PROPERTY', 5],
 ['CRIMINAL DAMAGE', 'TO VEHICLE', 5],
 ['CRIMINAL TRESPASS', 'TO LAND', 5],
 ['CRIMINAL DAMAGE', 'TO CITY OF CHICAGO PROPERTY', 5],
 ['CRIMINAL TRESPASS', 'TO STATE SUP LAND', 5],
 ['CRIMINAL TRESPASS', 'TO VEHICLE', 5],
 ['CRIMINAL TRESPASS', 'TO RESIDENCE', 5],
 ['WEAPONS VIOLATION', 'UNLAWFUL USE OTHER DANG WEAPON', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL POSSESSION - HANDGUN', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL POSSESSION - OTHER FIREARM', 1],
 ['SEX OFFENSE', 'AGGRAVATED CRIMINAL SEXUAL ABUSE', 1],
 ['SEX OFFENSE', 'CRIMINAL SEXUAL ABUSE', 1],
 ['OFFENSE INVOLVING CHILDREN', 'CHILD PORNOGRAPHY', 1],
 ['OFFENSE INVOLVING CHILDREN', 'OTHER OFFENSE', 1],
 ['KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 1],
 ['NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 1],
 ['NARCOTICS', 'MANU/DELIVER:COCAINE', 1],
 ['NARCOTICS', 'POSS: COCAINE', 1],
 ['NARCOTICS', 'POSS: HEROIN(WHITE)', 1],
 ['NARCOTICS', 'POSSESS - HEROIN (WHITE)', 1],
 ['NARCOTICS', 'POSSESS - PCP', 1],
 ['NARCOTICS', 'POSS: CRACK', 1],
 ['NARCOTICS', 'FORFEIT PROPERTY', 1],
 ['NARCOTICS', 'POSSESSION OF DRUG EQUIPMENT', 1],
 ['OTHER OFFENSE', 'TELEPHONE THREAT', 1],
 ['OTHER OFFENSE', 'HARASSMENT BY TELEPHONE', 1],
 ['OTHER OFFENSE', 'HARASSMENT BY ELECTRONIC MEANS', 1],
 ['OTHER OFFENSE', 'OBSCENE TELEPHONE CALLS', 1],
 ['PUBLIC PEACE VIOLATION', 'BOMB THREAT', 1],
 ['PUBLIC PEACE VIOLATION', 'ARSON THREAT', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'RESIST / OBSTRUCT / DISARM OFFICER', 1],
 ['OTHER OFFENSE', 'OTHER CRIME AGAINST PERSON', 1],
 ['OTHER OFFENSE', 'OTHER CRIME INVOLVING PROPERTY', 1],
 ['OTHER OFFENSE', 'OTHER VEHICLE OFFENSE', 1],
 ['OTHER OFFENSE', 'FALSE / STOLEN / ALTERED TRP', 1],
 ['ROBBERY', 'ARMED: OTHER DANGEROUS WEAPON', 1],
 ['ROBBERY', 'ARMED: HANDGUN', 1],
 ['BATTERY', 'AGGRAVATED: OTHER DANG WEAPON', 2],
 ['BATTERY', 'AGGRAVATED - OTHER DANGEROUS WEAPON', 2],
 ['ASSAULT', 'AGG PO HANDS NO/MIN INJURY', 1],
 ['THEFT', 'ATTEMPT FINANCIAL IDENTITY THEFT', 4],
 ['MOTOR VEHICLE THEFT', 'ATTEMPT - AUTOMOBILE', 4],
 ['MOTOR VEHICLE THEFT', 'THEFT / RECOVERY - AUTOMOBILE', 4],
 ['DECEPTIVE PRACTICE', 'BOGUS CHECK', 1],
 ['DECEPTIVE PRACTICE', 'COUNTERFEITING DOCUMENT', 1],
 ['DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT $300 AND UNDER', 1],
 ['DECEPTIVE PRACTICE', 'COMPUTER FRAUD', 1],
 ['PROSTITUTION', 'CALL OPERATION', 1],
 ['OFFENSE INVOLVING CHILDREN', 'ENDANGERING LIFE/HEALTH CHILD', 1],
 ['NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 1],
 ['NARCOTICS', 'ALTER/FORGE PRESCRIPTION', 1],
 ['KIDNAPPING', 'KIDNAPPING', 1],
 ['OTHER OFFENSE', 'VIOLATE ORDER OF PROTECTION', 1],
 ['OTHER OFFENSE', 'SEX OFFENDER: FAIL REG NEW ADD', 1],
 ['SEX OFFENSE', 'ATT CRIM SEXUAL ABUSE', 1],
 ['ROBBERY', 'ARMED:KNIFE/CUTTING INSTRUMENT', 1],
 ['ROBBERY', 'ARMED - OTHER DANGEROUS WEAPON', 1],
 ['ROBBERY', 'ATTEMPT: AGGRAVATED', 1],
 ['ROBBERY', 'ATTEMPT: ARMED-HANDGUN', 1],
 ['BATTERY', 'AGG: HANDS/FIST/FEET SERIOUS INJURY', 2],
 ['BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 2],
 ['BATTERY', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 2],
 ['ASSAULT', 'AGGRAVATED - KNIFE / CUTTING INSTRUMENT', 1],
 ['ASSAULT', 'AGGRAVATED: OTHER DANG WEAPON', 1],
 ['ARSON', 'BY FIRE', 1],
 ['DECEPTIVE PRACTICE', 'THEFT OF LOST / MISLAID PROPERTY', 1],
 ['DECEPTIVE PRACTICE', 'LIBRARY THEFT', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL USE - OTHER DANGEROUS WEAPON', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL POSS OF HANDGUN', 1],
 ['SEX OFFENSE', 'PUBLIC INDECENCY', 1],
 ['NARCOTICS', 'POSSESS - CANNABIS 30 GRAMS OR LESS', 1],
 ['NARCOTICS', 'POSSESS - CANNABIS MORE THAN 30 GRAMS', 1],
 ['NARCOTICS', 'MANUFACTURE / DELIVER - CANNABIS 10 GRAMS OR LESS', 1],
 ['NARCOTICS', 'MANUFACTURE / DELIVER - CANNABIS OVER 10 GRAMS', 1],
 ['NARCOTICS', 'ALTER / FORGE PRESCRIPTION', 1],
 ['NARCOTICS', 'FOUND SUSPECT NARCOTICS', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'OBSTRUCTING JUSTICE', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'OBSTRUCTING IDENTIFICATION', 1],
 ['INTIMIDATION', 'INTIMIDATION', 1],
 ['OTHER OFFENSE', 'FALSE/STOLEN/ALTERED TRP', 1],
 ['CRIM SEXUAL ASSAULT', 'NON-AGGRAVATED', 1],
 ['ROBBERY', 'ATTEMPT STRONG ARM - NO WEAPON', 1],
 ['BATTERY', 'AGGRAVATED - HANDGUN', 2],
 ['BATTERY', 'AGGRAVATED - KNIFE / CUTTING INSTRUMENT', 2],
 ['BATTERY', 'AGGRAVATED - HANDS, FISTS, FEET, SERIOUS INJURY', 2],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON', 2],
 ['ASSAULT', 'AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WEAPON', 1],
 ['MOTOR VEHICLE THEFT', 'CYCLE, SCOOTER, BIKE WITH VIN', 4],
 ['MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: AUTOMOBILE', 4],
 ['WEAPONS VIOLATION', 'POSSESS FIREARM / AMMUNITION - NO FOID CARD', 1],
 ['OFFENSE INVOLVING CHILDREN', 'CONTRIBUTE CRIM DELINQUENCY JUVENILE', 1],
 ['OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE', 1],
 ['NARCOTICS', 'MANU/DELIVER: HALLUCINOGEN', 1],
 ['NARCOTICS', 'POSSESS - BARBITURATES', 1],
 ['NARCOTICS', 'POSSESS - COCAINE', 1],
 ['PUBLIC PEACE VIOLATION', 'OTHER VIOLATION', 1],
 ['OTHER OFFENSE', 'GUN OFFENDER - ANNUAL REGISTRATION', 1],
 ['ROBBERY', 'ATTEMPT: ARMED-OTHER DANG WEAP', 1],
 ['ASSAULT', 'AGGRAVATED: HANDGUN', 1],
 ['THEFT', 'THEFT FROM MOTOR VEHICLE', 4],
 ['MOTOR VEHICLE THEFT', 'CYCLE, SCOOTER, BIKE W-VIN', 4],
 ['SEX OFFENSE', 'OTHER', 1],
 ['NARCOTICS', 'POS: HYPODERMIC NEEDLE', 1],
 ['LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 1],
 ['PUBLIC PEACE VIOLATION', 'PUBLIC DEMONSTRATION', 1],
 ['ROBBERY', 'ATTEMPT: ARMED-KNIFE/CUT INSTR', 1],
 ['BATTERY', 'AGGRAVATED:KNIFE/CUTTING INSTR', 2],
 ['BATTERY',
  'AGG. PROTECTED EMPLOYEE - HANDS, FISTS, FEET, SERIOUS INJURY',
  2],
 ['ASSAULT', 'AGGRAVATED - OTHER DANGEROUS WEAPON', 1],
 ['ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 1],
 ['ASSAULT', 'AGG PRO.EMP: OTHER DANG WEAPON', 1],
 ['STALKING', 'VIOLATION OF STALKING NO CONTACT ORDER', 1],
 ['BURGLARY', 'ATTEMPT FORCIBLE ENTRY', 3],
 ['DECEPTIVE PRACTICE', 'INSURANCE FRAUD', 1],
 ['DECEPTIVE PRACTICE', 'ILLEGAL POSSESSION CASH CARD', 1],
 ['DECEPTIVE PRACTICE', 'DECEPTIVE COLLECTION PRACTICES', 1],
 ['DECEPTIVE PRACTICE', 'STATE BENEFITS FRAUD', 1],
 ['DECEPTIVE PRACTICE', 'THEFT BY LESSEE, MOTOR VEHICLE', 1],
 ['DECEPTIVE PRACTICE', 'UNLAWFUL USE OF A COMPUTER', 1],
 ['CRIMINAL DAMAGE', 'TO STATE SUPPORTED PROPERTY', 5],
 ['OBSCENITY', 'OBSCENITY', 1],
 ['OTHER NARCOTIC VIOLATION', 'INTOXICATING COMPOUNDS', 1],
 ['NARCOTICS', 'POSS: HALLUCINOGENS', 1],
 ['LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 1],
 ['INTIMIDATION', 'EXTORTION', 1],
 ['OTHER OFFENSE', 'SEX OFFENDER - FAIL TO REGISTER NEW ADDRESS', 1],
 ['OTHER OFFENSE', 'LICENSE VIOLATION', 1],
 ['ASSAULT', 'AGGRAVATED - HANDGUN', 1],
 ['DECEPTIVE PRACTICE', 'EMBEZZLEMENT', 1],
 ['CRIMINAL DAMAGE', 'TO STATE SUP PROP', 5],
 ['PROSTITUTION', 'SOLICIT FOR PROSTITUTE', 1],
 ['SEX OFFENSE', 'NON-CONSENSUAL DISSEMINATION PRIVATE SEXUAL IMAGES', 1],
 ['NARCOTICS', 'POSS: HEROIN(BRN/TAN)', 1],
 ['PUBLIC PEACE VIOLATION', 'FALSE FIRE ALARM', 1],
 ['PUBLIC PEACE VIOLATION', 'FALSE POLICE REPORT', 1],
 ['PUBLIC PEACE VIOLATION', 'LOOTING', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'RESIST/OBSTRUCT/DISARM OFFICER', 1],
 ['OTHER OFFENSE', 'SEX OFFENDER: FAIL TO REGISTER', 1],
 ['OTHER OFFENSE', 'OTHER WEAPONS VIOLATION', 1],
 ['CRIM SEXUAL ASSAULT', 'ATTEMPT NON-AGGRAVATED', 1],
 ['ROBBERY', 'VEHICULAR HIJACKING', 1],
 ['ASSAULT', 'AGGRAVATED PROTECTED EMPLOYEE - OTHER DANGEROUS WEAPON', 1],
 ['MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: CYCLE, SCOOTER, BIKE NO VIN', 4],
 ['NARCOTICS', 'POSS: BARBITUATES', 1],
 ['NARCOTICS', 'POSSESS - SYNTHETIC DRUGS', 1],
 ['OTHER OFFENSE', 'VIOLATION OF CIVIL NO CONTACT ORDER', 1],
 ['OTHER OFFENSE', 'VEHICLE TITLE / REGISTRATION OFFENSE', 1],
 ['CRIM SEXUAL ASSAULT', 'AGGRAVATED: OTHER', 1],
 ['CRIMINAL SEXUAL ASSAULT', 'PREDATORY', 1],
 ['ROBBERY', 'ARMED - KNIFE / CUTTING INSTRUMENT', 1],
 ['ROBBERY', 'AGGRAVATED VEHICULAR HIJACKING', 1],
 ['ROBBERY', 'ATTEMPT ARMED - HANDGUN', 1],
 ['BURGLARY', 'BURGLARY FROM MOTOR VEHICLE', 3],
 ['THEFT', 'FROM COIN-OP MACHINE/DEVICE', 4],
 ['ARSON', 'AGGRAVATED', 1],
 ['DECEPTIVE PRACTICE', 'IMPERSONATION', 1],
 ['WEAPONS VIOLATION', 'RECKLESS FIREARM DISCHARGE', 1],
 ['CONCEALED CARRY LICENSE VIOLATION', 'OTHER', 1],
 ['OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR', 1],
 ['NARCOTICS', 'POSS: CANNABIS MORE THAN 30GMS', 1],
 ['NARCOTICS', 'MANU/DELIVER:SYNTHETIC DRUGS', 1],
 ['LIQUOR LAW VIOLATION', 'LIQUOR LICENSE VIOLATION', 1],
 ['PUBLIC PEACE VIOLATION', 'PEEPING TOM', 1],
 ['OTHER OFFENSE', 'VEHICLE TITLE/REG OFFENSE', 1],
 ['OTHER OFFENSE', 'GUN OFFENDER - DUTY TO REPORT CHANGE OF INFORMATION', 1],
 ['BATTERY', 'AGGRAVATED: HANDGUN', 2],
 ['MOTOR VEHICLE THEFT', 'ATT: AUTOMOBILE', 4],
 ['PROSTITUTION', 'SOLICIT OFF PUBLIC WAY', 1],
 ['GAMBLING', 'GAME/DICE', 1],
 ['OFFENSE INVOLVING CHILDREN', 'SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER', 1],
 ['KIDNAPPING', 'UNLAWFUL RESTRAINT', 1],
 ['OTHER OFFENSE', 'ANIMAL ABUSE/NEGLECT', 1],
 ['CRIM SEXUAL ASSAULT', 'PREDATORY', 1],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY: HANDS/FIST/FEET SERIOUS INJURY', 2],
 ['ASSAULT', 'AGG PRO.EMP:KNIFE/CUTTING INST', 1],
 ['DECEPTIVE PRACTICE', 'FINAN EXPLOIT-ELDERLY/DISABLED', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL USE - HANDGUN', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL USE HANDGUN', 1],
 ['WEAPONS VIOLATION', 'POSS FIREARM/AMMO:NO FOID CARD', 1],
 ['OBSCENITY',
  'POST GRAPHIC INFO PORGNOGRAPHIC INTERNET OR POSS GRAPHIC INF',
  1],
 ['OFFENSE INVOLVING CHILDREN', 'CRIM SEX ABUSE BY FAM MEMBER', 1],
 ['OFFENSE INVOLVING CHILDREN', 'CHILD ABANDONMENT', 1],
 ['HOMICIDE', 'FIRST DEGREE MURDER', 1],
 ['ASSAULT', 'AGGRAVATED PO: OTHER DANG WEAP', 1],
 ['THEFT', 'AGG: FINANCIAL ID THEFT', 4],
 ['ARSON', 'ATTEMPT ARSON', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL POSS OTHER FIREARM', 1],
 ['OFFENSE INVOLVING CHILDREN', 'AGG CRIM SEX ABUSE FAM MEMBER', 1],
 ['NARCOTICS', 'MANU/DELIVER: HEROIN (WHITE)', 1],
 ['NARCOTICS', 'MANU/DELIVER:CRACK', 1],
 ['NARCOTICS', 'SOLICIT NARCOTICS ON PUBLICWAY', 1],
 ['NARCOTICS', 'ATTEMPT POSSESSION NARCOTICS', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'OFFICIAL MISCONDUCT', 1],
 ['OTHER OFFENSE', 'POSSESSION OF BURGLARY TOOLS', 1],
 ['CRIM SEXUAL ASSAULT', 'AGGRAVATED: HANDGUN', 1],
 ['ROBBERY', 'ARMED - OTHER FIREARM', 1],
 ['BATTERY', 'AGGRAVATED PO: OTHER DANG WEAP', 2],
 ['BATTERY', 'AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SERIOUS INJURY', 2],
 ['STALKING', 'CYBERSTALKING', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL USE - OTHER FIREARM', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL SALE OTHER FIREARM', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL SALE/DELIVERY OF FIREARM AT SCHOOL', 1],
 ['SEX OFFENSE', 'AGG CRIMINAL SEXUAL ABUSE', 1],
 ['NARCOTICS', 'MANU/DEL:CANNABIS OVER 10 GMS', 1],
 ['NARCOTICS', 'ATTEMPT POSSESSION CANNABIS', 1],
 ['PUBLIC PEACE VIOLATION', 'TIRE DEFLATION DEVICE DEPLOYMENT', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL USE/SALE AIR RIFLE', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'REFUSING TO AID AN OFFICER', 1],
 ['OTHER OFFENSE', 'GUN OFFENDER - DUTY TO REGISTER', 1],
 ['CRIMINAL SEXUAL ASSAULT', 'AGGRAVATED - OTHER', 1],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST', 2],
 ['BURGLARY', 'HOME INVASION', 3],
 ['DECEPTIVE PRACTICE', 'UNAUTHORIZED VIDEOTAPING', 1],
 ['GAMBLING', 'GAME/CARDS', 1],
 ['PUBLIC PEACE VIOLATION', 'MOB ACTION', 1],
 ['OTHER OFFENSE', 'PAROLE VIOLATION', 1],
 ['CRIM SEXUAL ASSAULT', 'AGGRAVATED: OTHER DANG WEAPON', 1],
 ['BATTERY', 'AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WEAPON', 2],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS WEAPON', 2],
 ['PROSTITUTION', 'SOLICIT ON PUBLIC WAY', 1],
 ['OTHER OFFENSE', 'SEX OFFENDER - FAIL TO REGISTER', 1],
 ['OTHER OFFENSE', 'GUN OFFENDER: DUTY TO REGISTER', 1],
 ['ROBBERY', 'ARMED: OTHER FIREARM', 1],
 ['ASSAULT', 'AGGRAVATED - OTHER FIREARM', 1],
 ['DECEPTIVE PRACTICE', 'AGGRAVATED FINANCIAL IDENTITY THEFT', 1],
 ['OFFENSE INVOLVING CHILDREN', 'CHILD ABDUCTION', 1],
 ['OBSCENITY', 'OBSCENE MATTER', 1],
 ['OTHER OFFENSE', 'VIOLATION GPS MONITORING DEVICE', 1],
 ['BATTERY', 'AGG PRO.EMP:KNIFE/CUTTING INST', 2],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY - KNIFE / CUTTING INSTRUMENT', 2],
 ['ASSAULT', 'AGGRAVATED: OTHER FIREARM', 1],
 ['DECEPTIVE PRACTICE', 'PAY TV SERVICE OFFENSES', 1],
 ['OFFENSE INVOLVING CHILDREN', 'ENDANGERING LIFE / HEALTH OF CHILD', 1],
 ['NARCOTICS', 'SALE/DEL HYPODERMIC NEEDLE', 1],
 ['CRIMINAL SEXUAL ASSAULT', 'AGGRAVATED - HANDGUN', 1],
 ['CRIMINAL SEXUAL ASSAULT', 'AGGRAVATED - KNIFE / CUTTING INSTRUMENT', 1],
 ['PROSTITUTION', 'SOLICIT FOR BUSINESS', 1],
 ['GAMBLING', 'ILLEGAL ILL LOTTERY', 1],
 ['BATTERY', 'AGGRAVATED PO: HANDGUN', 2],
 ['WEAPONS VIOLATION', 'UNLAWFUL SALE HANDGUN', 1],
 ['PROSTITUTION', 'OTHER PROSTITUTION OFFENSE', 1],
 ['OFFENSE INVOLVING CHILDREN',
  'AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER',
  1],
 ['KIDNAPPING', 'AGGRAVATED', 1],
 ['KIDNAPPING', 'FORCIBLE DETENTION', 1],
 ['BATTERY', 'AGGRAVATED: OTHER FIREARM', 2],
 ['BATTERY', 'AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR INJURY', 2],
 ['NARCOTICS', 'MANUFACTURE / DELIVER -  HEROIN (WHITE)', 1],
 ['NON-CRIMINAL (SUBJECT SPECIFIED)',
  'NOTIFICATION OF CIVIL NO CONTACT ORDER',
  1],
 ['OTHER OFFENSE', 'GUN OFFENDER: ANNUAL REGISTRATION', 1],
 ['CRIMINAL SEXUAL ASSAULT', 'ATTEMPT NON-AGGRAVATED', 1],
 ['ASSAULT', 'AGGRAVATED PO: HANDGUN', 1],
 ['NARCOTICS', 'POSSESS - CRACK', 1],
 ['CRIM SEXUAL ASSAULT', 'AGGRAVATED: KNIFE/CUT INSTR', 1],
 ['BATTERY', 'AGG PRO.EMP: OTHER DANG WEAPON', 2],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY', 2],
 ['GAMBLING', 'GAME/AMUSEMENT DEVICE', 1],
 ['NARCOTICS', 'POSSESS - HALLUCINOGENS', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'ESCAPE', 1],
 ['OTHER OFFENSE', 'TAMPER WITH MOTOR VEHICLE', 1],
 ['BATTERY', 'AGGRAVATED OF A CHILD', 2],
 ['ARSON', 'POSSESSION - EXPLOSIVE / INCENDIARY DEVICE', 1],
 ['DECEPTIVE PRACTICE', 'THEFT BY LESSEE,NON-VEH', 1],
 ['PROSTITUTION', 'PATRONIZING A PROSTITUTE', 1],
 ['OTHER OFFENSE', 'ANIMAL FIGHTING', 1],
 ['CRIM SEXUAL ASSAULT', 'ATTEMPT AGG: HANDGUN', 1],
 ['NARCOTICS', 'MANUFACTURE / DELIVER - COCAINE', 1],
 ['HUMAN TRAFFICKING', 'COMMERCIAL SEX ACTS', 1],
 ['BATTERY', 'OF AN UNBORN CHILD', 2],
 ['WEAPONS VIOLATION', 'UNLAWFUL POSS AMMUNITION', 1],
 ['OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR', 1],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY: OTHER FIREARM', 2],
 ['ASSAULT', 'AGGRAVATED POLICE OFFICER - HANDS, FISTS, FEET, NO INJURY', 1],
 ['ASSAULT', 'AGGRAVATED PROTECTED EMPLOYEE - HANDGUN', 1],
 ['MOTOR VEHICLE THEFT', 'CYCLE, SCOOTER, BIKE NO VIN', 4],
 ['NARCOTICS', 'POSS: METHAMPHETAMINES', 1],
 ['OTHER OFFENSE', 'VIO BAIL BOND: DOM VIOLENCE', 1],
 ['ARSON', 'BY EXPLOSIVE', 1],
 ['ASSAULT', 'AGGRAVATED POLICE OFFICER - KNIFE / CUTTING INSTRUMENT', 1],
 ['MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: TRUCK,BUS,MHOME', 4],
 ['SEX OFFENSE', 'INDECENT SOLICITATION OF A CHILD', 1],
 ['NARCOTICS', 'CANNABIS PLANT', 1],
 ['NARCOTICS', 'POSS: SYNTHETIC DRUGS', 1],
 ['DECEPTIVE PRACTICE',
  'FINANCIAL EXPLOITATION OF AN ELDERLY OR DISABLED PERSON',
  1],
 ['INTIMIDATION', 'EDUCATIONAL INTIMIDAITON', 1],
 ['DECEPTIVE PRACTICE', 'UNLAWFUL USE OF RECORDED SOUND', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'OBSTRUCTING SERVICE', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL POSSESSION - AMMUNITION', 1],
 ['CRIM SEXUAL ASSAULT', 'ATTEMPT AGG: KNIFE/CUT INSTR', 1],
 ['MOTOR VEHICLE THEFT', 'ATT: TRUCK, BUS, MOTOR HOME', 4],
 ['NARCOTICS', 'MANU/DELIVER: HEROIN(BRN/TAN)', 1],
 ['NARCOTICS', 'SOLICIT NARCOTICS ON PUBLIC WAY', 1],
 ['OTHER OFFENSE', 'SEX OFFENDER: PROHIBITED ZONE', 1],
 ['BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, SERIOUS INJURY', 2],
 ['OFFENSE INVOLVING CHILDREN', 'CONTRIBUTE DELINQUENCY OF A CHILD', 1],
 ['NARCOTICS', 'MANUFACTURE / DELIVER - HALLUCINOGEN', 1],
 ['OTHER OFFENSE', 'ANIMAL ABUSE / NEGLECT', 1],
 ['DECEPTIVE PRACTICE', 'STOLEN PROP: BUY/RECEIVE/POS.', 1],
 ['SEX OFFENSE', 'NON-CONSENSUAL DISSEMINATION OF PRIVATE SEXUAL IMAGES', 1],
 ['SEX OFFENSE', 'SEXUAL EXPLOITATION OF A CHILD', 1],
 ['KIDNAPPING', 'UNLAWFUL INTERFERE/VISITATION', 1],
 ['NARCOTICS', 'POSSESS - METHAMPHETAMINE', 1],
 ['CRIM SEXUAL ASSAULT', 'AGGRAVATED: OTHER FIREARM', 1],
 ['BATTERY', 'AGGRAVATED DOMESTIC BATTERY: HANDGUN', 2],
 ['DECEPTIVE PRACTICE', 'STOLEN PROPERTY BUY / RECEIVE / POSSESS', 1],
 ['WEAPONS VIOLATION', 'UNLAWFUL USE OTHER FIREARM', 1],
 ['OFFENSE INVOLVING CHILDREN',
  'MINOR DISSEMINATE INDECENT DEPICT ANOTHER MINOR ELEC DEVICE',
  1],
 ['MOTOR VEHICLE THEFT', 'ATTEMPT - TRUCK, BUS, MOTOR HOME', 4],
 ['NARCOTICS', 'SALE/DEL DRUG PARAPHERNALIA', 1],
 ['LIQUOR LAW VIOLATION', 'ILLEGAL POSSESSION BY MINOR', 1],
 ['OTHER OFFENSE', 'GUN OFFENDER: DUTY TO REPORT CHANGE OF INFORMATION', 1],
 ['OFFENSE INVOLVING CHILDREN',
  'AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER',
  1],
 ['OTHER OFFENSE', 'COMPOUNDING A CRIME', 1],
 ['OTHER OFFENSE', 'ARSONIST: ANNUAL REGISTRATION', 1],
 ['ROBBERY', 'ATTEMPT ARMED - OTHER FIREARM', 1],
 ['BATTERY', 'AGG PO HANDS ETC SERIOUS INJ', 2],
 ['MOTOR VEHICLE THEFT', 'ATTEMPT: CYCLE, SCOOTER, BIKE W-VIN', 4],
 ['ARSON', 'POS: CHEMICAL/DRY-ICE DEVICE', 1],
 ['NARCOTICS', 'POSS: AMPHETAMINES', 1],
 ['CONCEALED CARRY LICENSE VIOLATION', 'ARMED WHILE UNDER THE INFLUENCE', 1],
 ['INTERFERENCE WITH PUBLIC OFFICER', 'INTERFERENCE JUDICIAL PROCESS', 1],
 ['OTHER OFFENSE', 'PROBATION VIOLATION', 1],
 ['SEX OFFENSE', 'ATT AGG CRIMINAL SEXUAL ABUSE', 1],
 ['OFFENSE INVOLVING CHILDREN', 'CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER', 1],
 ['ASSAULT', 'AGGRAVATED POLICE OFFICER - HANDGUN', 1],
 ['ARSON', 'POS: EXPLOSIVE/INCENDIARY DEV', 1],
 ['STALKING', 'AGGRAVATED', 1],
 ['OTHER OFFENSE', 'VIOLENT OFFENDER - DUTY TO REGISTER', 1],
 ['OTHER OFFENSE', 'VIOLENT OFFENDER - ANNUAL REGISTRATION', 1],

In [45]:
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

query = """
    INSERT INTO dim_crime (primary_type, description, id_crime_category)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke dim_crime!")

Data berhasil diinsert ke dim_crime!

In [46]:
import psycopg2

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

cursor.execute("SELECT id_location_category, location_category FROM dim_location_category")
rows = cursor.fetchall()

location_category_mapping = {row[1]: row[0] for row in rows}

cursor.close()
conn.close()

print(location_category_mapping)

{'Residential and Public Spaces': 1, 'Street Crimes': 2, 'Commercial Retail Locations': 3, 'Institutional and Public Facilities': 4, 'Apartment Complexes': 5}

In [48]:
df_subset = df[['location_description', 'location_category_label']].drop_duplicates()
print(df_subset)

                     location_description        location_category_label
0                                SIDEWALK  Residential and Public Spaces
1                               CTA TRAIN  Residential and Public Spaces
3                              RESTAURANT  Residential and Public Spaces
4                                  STREET                  Street Crimes
6                             HOTEL/MOTEL  Residential and Public Spaces
...                                   ...                            ...
408120                             OFFICE  Residential and Public Spaces
416963                       LIQUOR STORE    Commercial Retail Locations
437816                       BANQUET HALL  Residential and Public Spaces
442906                             KENNEL  Residential and Public Spaces
445408  VEHICLE - COMMERCIAL: TROLLEY BUS  Residential and Public Spaces

[175 rows x 2 columns]

In [49]:
df_subset['id_location_category'] = df_subset['location_category_label'].map(location_category_mapping)
df_subset.head()

  location_description        location_category_label  id_location_category
0             SIDEWALK  Residential and Public Spaces                     1
1            CTA TRAIN  Residential and Public Spaces                     1
3           RESTAURANT  Residential and Public Spaces                     1
4               STREET                  Street Crimes                     2
6          HOTEL/MOTEL  Residential and Public Spaces                     1

In [50]:
data_to_insert = df_subset[['location_description', 'id_location_category']].values.tolist()
data_to_insert

[['SIDEWALK', 1],
 ['CTA TRAIN', 1],
 ['RESTAURANT', 1],
 ['STREET', 2],
 ['HOTEL/MOTEL', 1],
 ['BANK', 1],
 ['CTA STATION', 1],
 ['CTA PLATFORM', 1],
 ['DEPARTMENT STORE', 3],
 ['OTHER', 1],
 ['CONVENIENCE STORE', 3],
 ['ATHLETIC CLUB', 1],
 ['COMMERCIAL / BUSINESS OFFICE', 1],
 ['HOTEL / MOTEL', 1],
 ['SMALL RETAIL STORE', 3],
 ['GOVERNMENT BUILDING/PROPERTY', 4],
 ['PARKING LOT/GARAGE(NON.RESID.)', 1],
 ['APARTMENT', 5],
 ['RESIDENCE', 1],
 ['CTA BUS', 1],
 ['DRUG STORE', 3],
 ['OTHER COMMERCIAL TRANSPORTATION', 1],
 ['CTA BUS STOP', 1],
 ['ALLEY', 1],
 ['TAXICAB', 1],
 ['VEHICLE - OTHER RIDE SERVICE', 1],
 ['PARKING LOT / GARAGE (NON RESIDENTIAL)', 1],
 ['RESIDENCE PORCH/HALLWAY', 1],
 ['SCHOOL, PRIVATE, BUILDING', 4],
 ['GROCERY FOOD STORE', 3],
 ['OTHER RAILROAD PROP / TRAIN DEPOT', 1],
 ['OTHER (SPECIFY)', 1],
 ['BARBERSHOP', 1],
 ['MEDICAL/DENTAL OFFICE', 1],
 ['RESIDENCE-GARAGE', 1],
 ['GOVERNMENT BUILDING / PROPERTY', 4],
 ['LAKEFRONT/WATERFRONT/RIVERBANK', 1],
 ['CTA GARAGE / OTHER PROPERTY', 1],
 ['MOVIE HOUSE/THEATER', 1],
 ['COLLEGE/UNIVERSITY GROUNDS', 1],
 ['CONSTRUCTION SITE', 1],
 ['VEHICLE NON-COMMERCIAL', 1],
 ['BAR OR TAVERN', 1],
 ['FEDERAL BUILDING', 1],
 ['ATM (AUTOMATIC TELLER MACHINE)', 1],
 ['VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)', 1],
 ['PARK PROPERTY', 1],
 ['VEHICLE-COMMERCIAL', 1],
 ['WAREHOUSE', 1],
 ['SCHOOL, PUBLIC, BUILDING', 4],
 ['SCHOOL - PRIVATE GROUNDS', 4],
 ['VACANT LOT/LAND', 1],
 ['MEDICAL / DENTAL OFFICE', 1],
 ['LIBRARY', 1],
 ['SCHOOL - PRIVATE BUILDING', 4],
 ['RESIDENCE - PORCH / HALLWAY', 1],
 ['COLLEGE / UNIVERSITY - GROUNDS', 1],
 ['SCHOOL, PUBLIC, GROUNDS', 4],
 ['TAVERN/LIQUOR STORE', 3],
 ['GAS STATION', 1],
 ['CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 1],
 ['CURRENCY EXCHANGE', 1],
 ['RESIDENCE - GARAGE', 1],
 ['FIRE STATION', 1],
 ['BOAT/WATERCRAFT', 1],
 ['OTHER RAILROAD PROPERTY / TRAIN DEPOT', 1],
 ['HOSPITAL BUILDING/GROUNDS', 4],
 ['CHA HALLWAY/STAIRWELL/ELEVATOR', 1],
 ['COLLEGE/UNIVERSITY RESIDENCE HALL', 1],
 ['CHA APARTMENT', 5],
 ['NEWSSTAND', 1],
 ['PAWN SHOP', 1],
 ['SCHOOL, PRIVATE, GROUNDS', 4],
 ['SCHOOL - PUBLIC BUILDING', 4],
 ['MOVIE HOUSE / THEATER', 1],
 ['AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA', 1],
 ['SCHOOL - PUBLIC GROUNDS', 4],
 ['RESIDENCE - YARD (FRONT / BACK)', 1],
 ['DRIVEWAY - RESIDENTIAL', 1],
 ['APPLIANCE STORE', 3],
 ['BOAT / WATERCRAFT', 1],
 ['BRIDGE', 1],
 ['RESIDENTIAL YARD (FRONT/BACK)', 1],
 ['POLICE FACILITY/VEH PARKING LOT', 1],
 ['DELIVERY TRUCK', 1],
 ['SPORTS ARENA/STADIUM', 1],
 ['TAVERN / LIQUOR STORE', 3],
 ['DAY CARE CENTER', 1],
 ['POLICE FACILITY / VEHICLE PARKING LOT', 1],
 ['CHA PARKING LOT/GROUNDS', 1],
 ['JAIL / LOCK-UP FACILITY', 1],
 ['CHA PARKING LOT / GROUNDS', 1],
 ['HIGHWAY/EXPRESSWAY', 1],
 ['SPORTS ARENA / STADIUM', 1],
 ['NURSING HOME/RETIREMENT HOME', 1],
 ['VEHICLE - DELIVERY TRUCK', 1],
 ['HOSPITAL BUILDING / GROUNDS', 4],
 ['CHA HALLWAY / STAIRWELL / ELEVATOR', 1],
 ['TAVERN', 1],
 ['CLEANING STORE', 3],
 ['NURSING / RETIREMENT HOME', 1],
 ['COLLEGE / UNIVERSITY - RESIDENCE HALL', 1],
 ['ABANDONED BUILDING', 4],
 ['CTA PARKING LOT / GARAGE / OTHER PROPERTY', 1],
 ['FACTORY / MANUFACTURING BUILDING', 1],
 ['VACANT LOT / LAND', 1],
 ['CHURCH / SYNAGOGUE / PLACE OF WORSHIP', 1],
 ['ANIMAL HOSPITAL', 1],
 ['YARD', 1],
 ['POOL ROOM', 1],
 ['VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC.)', 1],
 ['FACTORY/MANUFACTURING BUILDING', 1],
 ['AUTO', 1],
 ['GAS STATION DRIVE/PROP.', 1],
 ['COIN OPERATED MACHINE', 1],
 ['LAKEFRONT / WATERFRONT / RIVERBANK', 1],
 ['CEMETARY', 1],
 ['CAR WASH', 1],
 ['CREDIT UNION', 1],
 ['PORCH', 1],
 ['FOREST PRESERVE', 1],
 ['HOUSE', 1],
 ['VEHICLE - COMMERCIAL', 1],
 ['RAILROAD PROPERTY', 1],
 ['AUTO / BOAT / RV DEALERSHIP', 1],
 ['PRAIRIE', 1],
 ['VACANT LOT', 1],
 ['PARKING LOT', 1],
 ['SCHOOL YARD', 4],
 ['MOTEL', 1],
 ['VESTIBULE', 1],
 ['SAVINGS AND LOAN', 1],
 ['HIGHWAY / EXPRESSWAY', 1],
 ['GARAGE', 1],
 ['GANGWAY', 1],
 ['AIRPORT PARKING LOT', 1],
 ['AIRPORT/AIRCRAFT', 1],
 ['AIRPORT BUILDING NON-TERMINAL - SECURE AREA', 1],
 ['AIRPORT EXTERIOR - NON-SECURE AREA', 1],
 ['AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA', 1],
 ['AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA', 1],
 ['AIRPORT TERMINAL UPPER LEVEL - SECURE AREA', 1],
 ['AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA', 1],
 ['AIRPORT TRANSPORTATION SYSTEM (ATS)', 1],
 ['AIRPORT TERMINAL LOWER LEVEL - SECURE AREA', 1],
 ['AIRPORT EXTERIOR - SECURE AREA', 1],
 ['AIRCRAFT', 1],
 ['CTA TRACKS - RIGHT OF WAY', 1],
 ['BOWLING ALLEY', 1],
 ['SEWER', 1],
 ['GARAGE/AUTO REPAIR', 1],
 ['CHA PLAY LOT', 1],
 ['TRUCK', 1],
 ['CHA HALLWAY', 1],
 ['CTA PROPERTY', 1],
 ['CHA GROUNDS', 1],
 ['EXPRESSWAY EMBANKMENT', 1],
 ['AIRPORT VENDING ESTABLISHMENT', 1],
 ['RETAIL STORE', 3],
 ['DRIVEWAY', 1],
 ['HOTEL', 1],
 ['CASINO/GAMBLING ESTABLISHMENT', 1],
 ['TAXI CAB', 1],
 ['HOSPITAL', 1],
 ['RIVER BANK', 1],
 ['CHA PARKING LOT', 1],
 ['STAIRWELL', 1],
 ['FARM', 1],
 ['BASEMENT', 1],
 ['BARBER SHOP/BEAUTY SALON', 1],
 ['OFFICE', 1],
 ['LIQUOR STORE', 3],
 ['BANQUET HALL', 1],
 ['KENNEL', 1],
 ['VEHICLE - COMMERCIAL: TROLLEY BUS', 1]]

In [51]:
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

query = """
    INSERT INTO dim_location (location_description, id_location_category)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke dim_location!")

Data berhasil diinsert ke dim_location!

In [52]:
df_subset = df[['iucr', 'fbi_code']].drop_duplicates()
df_subset.head()

    iucr fbi_code
0   0281       02
1   031A       03
3   0320       03
11  0330       03
12  0331       03

In [53]:
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

data_to_insert = df_subset.values.tolist()

query = """
    INSERT INTO dim_classification (iucr, fbi_code)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke dim_classification!")

Data berhasil diinsert ke dim_classification!

In [55]:
df_subset = df[['ward', 'beat', 'district', 'community_area']].drop_duplicates()
df_subset.head()

    ward  beat  district  community_area
0   42.0   111         1            32.0
4    2.0   111         1            28.0
17  34.0   111         1            32.0
35  42.0   111        12            28.0
47  27.0   111         1            28.0

In [56]:
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

data_to_insert = df_subset.values.tolist()

query = """
    INSERT INTO dim_area_adm (ward, beat, district, community_area)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke dim_area_adm!")

Data berhasil diinsert ke dim_area_adm!

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457622 entries, 0 to 499999
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iucr                     457622 non-null  object
 1   primary_type             457622 non-null  object
 2   description              457622 non-null  object
 3   location_description     457622 non-null  object
 4   arrest                   457622 non-null  bool
 5   domestic                 457622 non-null  bool
 6   beat                     457622 non-null  int64
 7   district                 457622 non-null  int64
 8   ward                     457622 non-null  float64
 9   community_area           457622 non-null  float64
 10  fbi_code                 457622 non-null  object
 11  latitude                 457622 non-null  float64
 12  longitude                457622 non-null  float64
 13  day                      457622 non-null  int32
 14  month                    457622 non-null  int32
 15  year                     457622 non-null  int32
 16  hour                     457622 non-null  int32
 17  weekday                  457622 non-null  object
 18  daytime                  457622 non-null  object
 19  crime_category           457622 non-null  int32
 20  location_category        457622 non-null  int32
 21  crime_category_label     457622 non-null  object
 22  location_category_label  457622 non-null  object
dtypes: bool(2), float64(4), int32(6), int64(2), object(9)
memory usage: 83.3+ MB

In [58]:
df_subset = df[['day', 'month', 'year', 'daytime', 'weekday']].drop_duplicates()
df_subset.head()

   day  month  year daytime weekday
0   11      6  2022   Malam   Sabtu
1   28      1  2021   Malam   Kamis
2    5      5  2022   Malam   Kamis
3   12      6  2014   Malam   Kamis
4    3      8  2005    Pagi    Rabu

In [59]:
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

data_to_insert = df_subset.values.tolist()

query = """
    INSERT INTO dim_date (day, month, year, daytime, weekday)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke dim_date!")

Data berhasil diinsert ke dim_date!

In [63]:
df.columns

Index(['iucr', 'primary_type', 'description', 'location_description', 'arrest',
       'domestic', 'beat', 'district', 'ward', 'community_area', 'fbi_code',
       'latitude', 'longitude', 'day', 'month', 'year', 'hour', 'weekday',
       'daytime', 'crime_category', 'location_category',
       'crime_category_label', 'location_category_label'],
      dtype='object')

In [66]:
df_subset = df[['iucr', 'primary_type', 'description', 'location_description', 'arrest',
       'domestic', 'beat', 'district', 'ward', 'community_area', 'fbi_code',
       'latitude', 'longitude', 'day', 'month', 'year', 'weekday', 'daytime']]
incident_counts = df_subset.groupby(['iucr', 'primary_type', 'description', 'location_description', 'arrest',
       'domestic', 'beat', 'district', 'ward', 'community_area', 'fbi_code',
       'latitude', 'longitude', 'day', 'month', 'year', 'weekday', 'daytime']).size().reset_index(name='incident_count')

incident_counts.head()

,iucr,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,fbi_code,latitude,longitude,day,month,year,weekday,daytime,incident_count
0,0110,HOMICIDE,FIRST DEGREE MURDER,ABANDONED BUILDING,True,False,725,7,16.0,67.0,01A,41.778516,-87.661754,14,7,2011,Kamis,Malam,1
1,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,214,2,4.0,38.0,01A,41.818113,-87.606741,25,4,2023,Selasa,Pagi,1
2,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,224,2,3.0,38.0,01A,41.804823,-87.616472,23,10,2022,Minggu,Dini hari,1
3,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,231,2,20.0,40.0,01A,41.792955,-87.618771,20,2,2016,Sabtu,Siang,1
4,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,322,3,20.0,69.0,01A,41.770757,-87.612397,20,5,2003,Selasa,Sore,1

In [70]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql+psycopg2://postgres:behelhijau@localhost:5432/crimedb')

dim_crime = pd.read_sql("SELECT id_crime, primary_type, description FROM dim_crime", engine)
dim_date = pd.read_sql("SELECT id_date, day, month, year, daytime, weekday FROM dim_date", engine)
dim_location = pd.read_sql("SELECT id_location, location_description FROM dim_location", engine)
dim_adm = pd.read_sql("SELECT id_adm, ward, beat, district, community_area FROM dim_area_adm", engine)
dim_class = pd.read_sql("SELECT id_class, iucr, fbi_code FROM dim_classification", engine)

In [71]:
incident_counts = incident_counts.merge(dim_crime, on=['primary_type', 'description'], how='left')

incident_counts = incident_counts.merge(dim_date, on=['day', 'month', 'year', 'weekday', 'daytime'], how='left')

incident_counts = incident_counts.merge(dim_location, on=['location_description'], how='left')

incident_counts = incident_counts.merge(dim_adm, on=['ward', 'beat', 'district', 'community_area'], how='left')

incident_counts = incident_counts.merge(dim_class, on=['iucr', 'fbi_code'], how='left')

In [72]:
incident_counts.head()

,iucr,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,...,month,year,weekday,daytime,incident_count,id_crime,id_date,id_location,id_adm,id_class
0,0110,HOMICIDE,FIRST DEGREE MURDER,ABANDONED BUILDING,True,False,725,7,16.0,67.0,...,7,2011,Kamis,Malam,1,229,16661,103,337,194
1,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,214,2,4.0,38.0,...,4,2023,Selasa,Pagi,1,229,942,24,81,194
2,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,224,2,3.0,38.0,...,10,2022,Minggu,Dini hari,1,229,38044,24,98,194
3,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,231,2,20.0,40.0,...,2,2016,Sabtu,Siang,1,229,4906,24,107,194
4,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,False,False,322,3,20.0,69.0,...,5,2003,Selasa,Sore,1,229,22089,24,144,194

In [75]:
from psycopg2.extras import execute_values

conn = psycopg2.connect(
    dbname="crimedb",
    user="postgres",
    password="behelhijau",
    host="localhost",
    port="5432"
)
cursor = conn.cursor()

data_to_insert = incident_counts[['id_crime', 'id_date', 'id_location', 'id_adm', 'id_class', 'latitude', 'longitude', 'domestic', 'arrest', 'incident_count']].values.tolist()

query = """
    INSERT INTO crime_facts (id_crime, id_date, id_location, id_adm, id_class, latitude, longitude, domestic_status, arrest_status, incident_count)
    VALUES %s
"""

execute_values(cursor, query, data_to_insert)

conn.commit()
cursor.close()
conn.close()

print("Data berhasil diinsert ke tabel fakta!")

Data berhasil diinsert ke tabel fakta!